[submodule "vendor/Cmdr"]
	path = vendor/Cmdr
	url = git://github.com/evaera/Cmdr.git
[submodule "t"]
	path = vendor/t
	url = git://github.com/osyrisrblx/t.git
[submodule "vendor/DataStore2"]
	path = vendor/DataStore2
	url = git://github.com/Kampfkarren/Roblox.git
[submodule "vendor/rodux"]
	path = vendor/rodux
	url = git://github.com/Roblox/rodux.git
